#exceptions
!/release/*.js

# User-specific files
*.suo
*.user
*.userosscache
*.sln
*.sln.docstates
*.sln.ide/

# Package managers
bower_components/
packages/

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/*
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
packages/
App_Data/

# Visual Studio profiler
*.psess
*.vsp
*.vspx

# ReSharper is a .NET coding add-in
_ReSharper*/
*.[Rr]e[Ss]harpe